.nav-container {
  padding: 1.6rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.static-image {
  width: 4.8rem;
  height: 4.8rem;
  /* align-self: center; */
}
.nav-item {
  list-style-type: none;
}

.hamburger {
  align-self: flex-start;
}

.nav-item:hover {
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  .static-image {
    width: 20rem;
    height: 3.9rem;
  }
}
